<div class="row">
  <div class="col-xs-12 col-md-8 col-md-offset-2">
    <div class="form-group">
      <label>Card Name</label>
      <input type="text" class="form-control" #cardName />
    </div>
    <div class="form-group">
      <label>Card Content</label>
      <textarea type="text" class="form-control" #cardContent></textarea>
    </div>
    <div class="form-group">
      <label>Colour: </label>
      <select class="form-control" #cardColour>
        <option value="red">Red</option>
        <option value="green" selected>Green</option>
        <option value="blue">Blue</option>
      </select>
    </div>
    <div class="d-flex justify-content-center m-1">
      <button
        class="btn btn-warning"
        (click)="
          onCreateCard(cardName.value, cardContent.value, cardColour.value)
        "
      >
        Add a Card
      </button>
    </div>
  </div>
</div>
